blinker==1.4
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==1.1.1
greenlet==2.0.2
idna==2.8
importlib-metadata==6.0.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
psycopg2-binary==2.9.5
requests==2.22.0
SQLAlchemy==1.4.46
typing-extensions==4.4.0
urllib3==1.25.11
Werkzeug==0.16.0
WTForms==3.0.1
zipp==3.12.0
